# Pandas

In [4]:
import pandas as pd

In [9]:
data = {
    "cars": ["bmw", "honda", "suzuki", "BYD"],
    "models": ["2007", "2008", "2022", "2024"],
    "passenger": ["4", "5", "6", "7"]
}
print(data)

{'cars': ['bmw', 'honda', 'suzuki', 'BYD'], 'models': ['2007', '2008', '2022', '2024'], 'passenger': ['4', '5', '6', '7']}

In [20]:
# Conver this dict to dataframe
df = pd.DataFrame(data)
print(df)

     cars models passenger
0     bmw   2007         4
1   honda   2008         5
2  suzuki   2022         6
3     BYD   2024         7

In [14]:
# into csv
df_to_csv = df.to_csv("cars.csv")
df = pd.read_csv("cars.csv")
print(df)

   Unnamed: 0    cars  models  passenger
0           0     bmw    2007          4
1           1   honda    2008          5
2           2  suzuki    2022          6
3           3     BYD    2024          7

In [16]:
# checking the version of pandas
pd.__version__

'2.2.2'

In [17]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [19]:
# Create labels in pandas with index
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

##DataFrame

In [31]:
# Create a dataframe from two series
import pandas as pd
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [22]:
# locate ROW using loc function
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [23]:
# return 0 and 1
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [34]:
# indexing with day1, day2, day3
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df.loc["day1"])
print(df.loc["day2"])
print(df.loc["day3"])

calories    420
duration     50
Name: day1, dtype: int64
calories    380
duration     40
Name: day2, dtype: int64
calories    390
duration     45
Name: day3, dtype: int64

## Data Cleaning with pandas
Bad data can be
- empty cells
- data in wrong format
- wrong data
- duplicate data

In [37]:
import pandas as pd
df = pd.read_csv("pandas_dataset.csv")
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110       130     409.1
1         60  2020/12/02'    117       145     479.0
2         60  2020/12/03'    103       135     340.0
3         45  2020/12/04'    109       175     282.4
4         45  2020/12/05'    117       148     406.0
5         60  2020/12/06'    102       127     300.0
6         60  2020/12/07'    110       136     374.0
7        450  2020/12/08'    104       134     253.3
8         30  2020/12/09'    109       133     195.1
9         60  2020/12/10'     98       124     269.0
10        60  2020/12/11'    103       147     329.3
11        60  2020/12/12'    100       120     250.7
12        60  2020/12/12'    100       120     250.7
13        60  2020/12/13'    106       128     345.3
14        60  2020/12/14'    104       132     379.3
15        60  2020/12/15'     98       123     275.0
16        60  2020/12/16'     98       120     215.2
17        60  2020/12/17'    100       120     300.0
18        45  2020/12/18'     90       112       NaN
19        60  2020/12/19'    103       123     323.0
20        45  2020/12/20'     97       125     243.0
21        60  2020/12/21'    108       131     364.2
22        45          NaN    100       119     282.0
23        60  2020/12/23'    130       101     300.0
24        45  2020/12/24'    105       132     246.0
25        60  2020/12/25'    102       126     334.5
26        60   12/26/2020    100       120     250.0
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

In [39]:
print(df.head(10))

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110       130     409.1
1        60  2020/12/02'    117       145     479.0
2        60  2020/12/03'    103       135     340.0
3        45  2020/12/04'    109       175     282.4
4        45  2020/12/05'    117       148     406.0
5        60  2020/12/06'    102       127     300.0
6        60  2020/12/07'    110       136     374.0
7       450  2020/12/08'    104       134     253.3
8        30  2020/12/09'    109       133     195.1
9        60  2020/12/10'     98       124     269.0

In [40]:
print(df.tail(5))

    Duration         Date  Pulse  Maxpulse  Calories
27        60  2020/12/27'     92       118     241.0
28        60  2020/12/28'    103       132       NaN
29        60  2020/12/29'    100       132     280.0
30        60  2020/12/30'    102       129     380.3
31        60  2020/12/31'     92       115     243.0

### Problems in our data set
- data contains some empty cells
- data fomatting has issues
- row 7 has wrong data
- row 11 and 12 have the same data